.container {
    margin: 1rem;
}

.phoneCard {
    margin-bottom: 2rem;
}

.alert {
    width: max-content;
    margin-top: 3rem;
    margin-left: 3rem;
}
/* /////////////FOR PHONE CARD//////////////// */
/* 
.mobileDescription {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: purple;
}

.mobileName {
    font-size: 1.6rem;
    color: rgb(12, 9, 9);
    background-color: purple;
} */