.container {
    margin: 1rem;
}

.phoneCard {
    margin-bottom: 2rem;
}

.alert {
    width: max-content;
    margin-top: 3rem;
    margin-left: 3rem;
}
/* /////////////FOR PHONE CARD//////////////// */

.containerPhoneCard {
    margin: 1rem;
}
