@import '../../../styles/variables.scss';

.formGroup {
  margin: 1.5rem 1rem;
}

.errorMessage {
  color: $red;
  padding: 0.5em 0.2em;
  height: 1em;
  position: absolute;
  font-size: 0.8em;
}
:global .form-control {
  text-align: start;
}
