.formControl {
    margin-left: 0.5rem;
    margin-top: 0.1rem;
}
.formControl .labelSortBy {
    font-size: 1.6em;
}
:global .MuiSelect-select.MuiSelect-select {
    margin-top: 1rem;
}
:global .MuiFormControl-root {
    width: 15rem;
}
@media only screen and (max-width: 37.5em) {
    :global .MuiFormControl-root {
        width: 100%;
    }
}
@media only screen and (max-width: 50em) and (min-width: 37.5em) {}