.message_list {
    /* list-style: none; */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.collapse_buttons {
    text-align: right;
<<<<<<< HEAD
    border-top: solid 1px #16940b;
=======
    border-top: solid 1px #138509;
>>>>>>> 3c25fbdcb4e2e085dca97c4e487df8bfd0862d08
    padding: 5px 0;
    width: 883px;
}


.show_recent_only {
    display: none;
 
}
