.container {
    min-height: 15rem;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5%;
}

.image {
    width: 15rem;
}

.imageContainer {
    margin-right: 2rem;
}

.mobileDescription {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.mobileName {
    font-size: 1.6rem;
    color: rgb(12, 9, 9);
}

.mobileSnippet {
    margin-top: 2%;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {

    .container {
        width: 400px;
        display: block;
        overflow: hidden;
    }
}