@import url( 'https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

.container {
    min-height: 15rem;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5rem;
    /* margin: 1rem; */
}

.image {
    width: 15rem;
}

.imageContainer {
    margin-right: 2rem;
}

.mobileDescription {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.mobileName {
    font-size: 1.6rem;
    color: hsl(0, 9%, 18%);
}

.mobileSnippet {
    margin-top: 2rem;
    font-size: 1.5em;
    font-family: 'Akaya Kanadaka', cursive;
    color: rgb(78, 78, 78);
}

@media only screen and (max-width: 37.5em) {
    .container {
        width: 100%;
        display: block;
        overflow: hidden;
    }
}

@media only screen and (min-width: 37.5625em) and (max-width: 50em) {
    .container {
        width: 100%;
        padding: 0 0.5rem;
        margin: 1rem 0;
        display: block;
        overflow: hidden;
    }
}
