@import '../../../styles/mixins.scss';

.container {
  display: flex;
  padding: 1rem;
  @include apply-to('mdMax') {
    width: 100%;
    flex-direction: column;
  }
  @include apply-from-to('mdMin', 'lgMax') {
    width: 100%;
    flex-direction: column;
  }
}

.displayEditor {
  width: 250px;
  @include apply-to('mdMax') {
    overflow: hidden;
    width: 42%;
    margin-left: 1rem;
  }
  @include apply-from-to('mdMin', 'lgMax') {
    overflow: hidden;
    width: 42%;
    margin-left: 1rem;
  }
}

.homeListPhone {
  @include apply-to('mdMax') {
    margin: 1rem 0.5rem;
    width: 100%;
  }
  @include apply-from-to('mdMin', 'lgMax') {
    margin: 1rem;
    width: 95%;
  }
}
