// @import '../../../styles/variables.scss';
.container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  // overflow: hidden;
  // margin-bottom: -2rem;
}

.sotialContainer {
  margin-top: 3px;
  display: flex;
  p {
    margin-right: 0.5rem;
    color: $white;
  }
}

.siteTag {
  margin: 0 auto;
  p {
    color: $white;
  }
}

.sotialContainer div {
  border-radius: 3px;
  box-shadow: 0 2px 4px #17232633;
  margin-right: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff 50% 50%;
  width: 24px;
  height: 24px;
  transition: background-color 0.2s linear, box-shadow 0.1s linear;
  filter: grayscale(1);
  &:hover {
    filter: grayscale(0);
  }
}
// .sotialContainer div:hover {
//   filter: grayscale(0);
// }

.vk:hover {
  background-color: #447dbd;
}
.yt:hover {
  background-color: #ff2638;
}
.ig:hover {
  background: linear-gradient(169.11deg, #f9cb76 12.38%, #ea1e59 53.89%, #c02290 70.24%, #5843c7 97.18%);
}
.sotialContainer div:hover .iconVk,
.sotialContainer div:hover .iconMail,
.sotialContainer div:hover .iconYt,
.sotialContainer div:hover .iconIg {
  filter: brightness(100);
}

.iconVk {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.4008 14.2478C19.8788 15.621 20.1839 16.2791 20.2316 16.3649C20.8418 17.3758 19.5641 17.4521 19.5641 17.4521L17.104 17.4902C17.104 17.4902 16.5701 17.5951 15.8836 17.1183C14.9587 16.4889 14.0719 14.839 13.414 15.0584C12.737 15.2777 12.756 16.7559 12.756 16.7559C12.756 16.7559 12.756 16.9657 12.6035 17.1278C12.4319 17.309 12.0981 17.2423 12.0981 17.2423H11.0016C11.0016 17.2423 8.57014 17.4902 6.44382 15.2682C4.10772 12.8459 2.04814 8.07763 2.04814 8.07763C2.04814 8.07763 1.93372 7.79153 2.05768 7.62941C2.2007 7.47683 2.60118 7.47683 2.60118 7.47683H5.23286C5.23286 7.47683 5.49031 7.47683 5.65241 7.62941C5.79543 7.73431 5.88125 7.95366 5.88125 7.95366C5.88125 7.95366 6.30079 9.01221 6.8729 9.98494C7.96943 11.8827 8.47479 12.2928 8.82759 12.0925C9.3997 11.7969 9.2376 9.41275 9.2376 9.41275C9.2376 9.41275 9.24714 8.54492 8.96108 8.16346C8.74178 7.86783 8.32223 7.77246 8.14106 7.75339C7.9885 7.73431 8.23642 7.391 8.55107 7.22888C9.02783 7 9.85738 7 10.849 7C11.6214 7 11.8407 7.05722 12.1363 7.12398C13.0516 7.34332 12.737 8.19207 12.737 10.2138C12.737 10.8718 12.6416 11.7683 13.0898 12.083C13.29 12.2165 13.7858 12.1021 15.0254 10.0135C15.5975 9.02175 16.0361 7.84875 16.0361 7.84875C16.0361 7.84875 16.1315 7.64849 16.2745 7.55312C16.4271 7.47683 16.6368 7.47683 16.6368 7.47683H19.402C19.402 7.47683 20.2411 7.38146 20.3746 7.75339C20.5176 8.14439 20.0599 9.06943 18.9253 10.5667C17.0754 13.0462 16.8657 12.8173 18.4008 14.2478Z' fill='%23447DBD'%3E%3C/path%3E%3C/svg%3E");
}

.iconMail {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.iconYt {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.221 6.39153C20.0006 6.60235 20.6152 7.21976 20.8251 8.00282C21.2149 9.43341 21.1999 12.4151 21.1999 12.4151C21.1999 12.4151 21.1999 15.3816 20.8251 16.8122C20.6152 17.5953 20.0006 18.2127 19.221 18.4235C17.7968 18.8 12.1 18.8 12.1 18.8C12.1 18.8 6.41811 18.8 4.9789 18.4085C4.19934 18.1976 3.58468 17.5802 3.37479 16.7972C3 15.3816 3 12.4 3 12.4C3 12.4 3 9.43341 3.37479 8.00282C3.58468 7.21976 4.21433 6.58729 4.9789 6.37647C6.40312 6 12.1 6 12.1 6C12.1 6 17.7968 6 19.221 6.39153ZM15.0234 12.4L10.286 15.1407V9.6593L15.0234 12.4Z' fill='%23767676'%3E%3C/path%3E%3C/svg%3E");
}

.iconIg {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M8.43 3.5H15.57C18.29 3.5 20.5 5.71 20.5 8.43V15.57C20.5 16.8775 19.9806 18.1315 19.056 19.056C18.1315 19.9806 16.8775 20.5 15.57 20.5H8.43C5.71 20.5 3.5 18.29 3.5 15.57V8.43C3.5 7.12248 4.01941 5.86852 4.94396 4.94396C5.86852 4.01941 7.12248 3.5 8.43 3.5ZM8.26 5.2C7.44844 5.2 6.67011 5.52239 6.09625 6.09625C5.52239 6.67011 5.2 7.44844 5.2 8.26V15.74C5.2 17.4315 6.5685 18.8 8.26 18.8H15.74C16.5516 18.8 17.3299 18.4776 17.9037 17.9037C18.4776 17.3299 18.8 16.5516 18.8 15.74V8.26C18.8 6.5685 17.4315 5.2 15.74 5.2H8.26ZM16.4625 6.475C16.7443 6.475 17.0145 6.58694 17.2138 6.7862C17.4131 6.98546 17.525 7.25571 17.525 7.5375C17.525 7.81929 17.4131 8.08954 17.2138 8.2888C17.0145 8.48806 16.7443 8.6 16.4625 8.6C16.1807 8.6 15.9105 8.48806 15.7112 8.2888C15.5119 8.08954 15.4 7.81929 15.4 7.5375C15.4 7.25571 15.5119 6.98546 15.7112 6.7862C15.9105 6.58694 16.1807 6.475 16.4625 6.475ZM12 7.75C13.1272 7.75 14.2082 8.19777 15.0052 8.9948C15.8022 9.79183 16.25 10.8728 16.25 12C16.25 13.1272 15.8022 14.2082 15.0052 15.0052C14.2082 15.8022 13.1272 16.25 12 16.25C10.8728 16.25 9.79183 15.8022 8.9948 15.0052C8.19777 14.2082 7.75 13.1272 7.75 12C7.75 10.8728 8.19777 9.79183 8.9948 8.9948C9.79183 8.19777 10.8728 7.75 12 7.75ZM12 9.45C11.3237 9.45 10.6751 9.71866 10.1969 10.1969C9.71866 10.6751 9.45 11.3237 9.45 12C9.45 12.6763 9.71866 13.3249 10.1969 13.8031C10.6751 14.2813 11.3237 14.55 12 14.55C12.6763 14.55 13.3249 14.2813 13.8031 13.8031C14.2813 13.3249 14.55 12.6763 14.55 12C14.55 11.3237 14.2813 10.6751 13.8031 10.1969C13.3249 9.71866 12.6763 9.45 12 9.45Z' fill='%23767676'%3E%3C/path%3E%3C/svg%3E");
}
