.sotialContainer {
  margin-top: 3px;
}

.sotialContainer div {
  border-radius: 3px;
  box-shadow: 0 2px 4px #17232633;
  margin-right: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #fff 50% 50%;
  width: 24px;
  height: 24px;
  transition: background-color 0.2s linear, box-shadow 0.1s linear;
  filter: grayscale(1);
}

.vk:hover {
  background-color: #447dbd;
}

.sotialContainer div:hover {
  filter: grayscale(0);
}
.sotialContainer div:hover .sotialContainerIcon {
  filter: brightness(100);
}
.sotialContainerIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M18.4008 14.2478C19.8788 15.621 20.1839 16.2791 20.2316 16.3649C20.8418 17.3758 19.5641 17.4521 19.5641 17.4521L17.104 17.4902C17.104 17.4902 16.5701 17.5951 15.8836 17.1183C14.9587 16.4889 14.0719 14.839 13.414 15.0584C12.737 15.2777 12.756 16.7559 12.756 16.7559C12.756 16.7559 12.756 16.9657 12.6035 17.1278C12.4319 17.309 12.0981 17.2423 12.0981 17.2423H11.0016C11.0016 17.2423 8.57014 17.4902 6.44382 15.2682C4.10772 12.8459 2.04814 8.07763 2.04814 8.07763C2.04814 8.07763 1.93372 7.79153 2.05768 7.62941C2.2007 7.47683 2.60118 7.47683 2.60118 7.47683H5.23286C5.23286 7.47683 5.49031 7.47683 5.65241 7.62941C5.79543 7.73431 5.88125 7.95366 5.88125 7.95366C5.88125 7.95366 6.30079 9.01221 6.8729 9.98494C7.96943 11.8827 8.47479 12.2928 8.82759 12.0925C9.3997 11.7969 9.2376 9.41275 9.2376 9.41275C9.2376 9.41275 9.24714 8.54492 8.96108 8.16346C8.74178 7.86783 8.32223 7.77246 8.14106 7.75339C7.9885 7.73431 8.23642 7.391 8.55107 7.22888C9.02783 7 9.85738 7 10.849 7C11.6214 7 11.8407 7.05722 12.1363 7.12398C13.0516 7.34332 12.737 8.19207 12.737 10.2138C12.737 10.8718 12.6416 11.7683 13.0898 12.083C13.29 12.2165 13.7858 12.1021 15.0254 10.0135C15.5975 9.02175 16.0361 7.84875 16.0361 7.84875C16.0361 7.84875 16.1315 7.64849 16.2745 7.55312C16.4271 7.47683 16.6368 7.47683 16.6368 7.47683H19.402C19.402 7.47683 20.2411 7.38146 20.3746 7.75339C20.5176 8.14439 20.0599 9.06943 18.9253 10.5667C17.0754 13.0462 16.8657 12.8173 18.4008 14.2478Z' fill='%23447DBD'%3E%3C/path%3E%3C/svg%3E");
}

.sotialContainerIcon {
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
