.imageContainer {
    max-width: 29%;
    margin-top: 5%;

}
.photoCarousel {
    max-width: 37rem;
    height: auto;
}

.IdAndDescription {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 5%;

}

.phoneImagesShortDescription {
    display: flex;
}

.CardDescription p {
    margin: 1%;
    font-family: 'CENTURY SCHOOLBOOK';
    font-size: 1.4em;

}
.IdAndDescription h1 {
    font-family: 'COURIER NEW';
    font-size: 3em;
    margin-bottom: 5%;
}
.CardDescription {

    margin-right: 5%;
}

.detailsDescription {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.PropDescription {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    margin: 1.5%;
}
.PropDescription h3 {
    font-size: 1.7rem;
    word-break:break-all;
}
.PropDescription h4 {
    font-size: 1.2rem;
}

.PropDescription p {
    font-size: 1.2rem;
}

@media only screen and (max-device-width: 600px) {

    .containerPhone{
        width: 400px;
        overflow: hidden;
    }
    .imageContainer {
        max-width: 79%;     
        margin-top: 5%;
    
    }
    .PropDescription {
        display: flex;
        flex-direction: column;
        max-width: 35%;
        margin: 1.5%;
    }
}
