.imageContainer {
    max-width: 29%;
    margin-top: 5%;

}
.photoCarousel {
    max-width: 37rem;
    height: auto;
}

.idAndDescription {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 5%;

}

.phoneImagesShortDescription {
    display: flex;
}

.cardDescription p {
    margin: 1%;
    font-family: 'CENTURY SCHOOLBOOK';
    font-size: 1.4em;

}
.idAndDescription h1 {
    font-family: 'COURIER NEW';
    font-size: 3em;
    margin-bottom: 5%;
}
.cardDescription {

    margin-right: 5%;
}

.detailsDescription {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.propDescription {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    margin: 1.5%;
}
.propDescription h3 {
    font-size: 1.7rem;
    word-break: break-all;
}
.propDescription h4 {
    font-size: 1.2rem;
}

.propDescription p {
    font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {

    .containerPhone {
        width: 450px;
        overflow: hidden;
    }
    .phoneImagesShortDescription {
        display: flex;
        flex-direction: column;
    }

    .imageContainer {
        max-width: 89%;
        margin-top: 5%;

    }
    .propDescription {
        display: flex;
        flex-direction: column;
        max-width: 35%;
        margin: 4%;
    }
}
@media only screen and (max-width: 800px) and (min-width: 600px) {

    .containerPhone {
        width: 600px;
        overflow: hidden;
    }
    .phoneImagesShortDescription {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
    }

    .imageContainer {
        max-width: 89%;
       
    }
    .propDescription {
        display: flex;
        flex-direction: column;
        max-width: 25%;
        margin: 4%;
    }
}
