.container {
    display: flex;
    flex-direction: column;

}

.phoneCardBasket {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 1rem;
}

.alert {
    width: max-content;
    margin: 2rem auto;
}
