/* .containerBasket .containerBasket {
    width: max-content;
    background-color: rgb(114, 116, 114);
} */
.containerBasket .buttonAddToBasket {
    width: max-content;
    background-color: rgb(76, 78, 76);
}

.buttonGoInBasket a,
.buttonGoInBasket a:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.containerBasket {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    margin-top: 1rem;

}
