.containerBasket .buttonAddToBasket {
    width: max-content;
    background-color: rgb(76, 78, 76);
}
.buttonGoInBasket a,
.buttonGoInBasket a:hover {
    color: #fff;

    text-decoration: none;
}
.containerBasket {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    margin-top: 1rem;

}
