.navBarLink {
  color: #ffffff;
}

.navBarLink:hover {
  text-decoration: none;
  color: #0071a7c7;
  cursor: grab;
}

:global nav.bg-primary {
  background-color: #2fccd1 !important;
}

:global .navbar-brand a {
  color: #f0f8ff;
}
