@import '../../../styles/variables.scss';

.navBarLink {
  font-size: 1.2em;
}
.navBarLink:hover {
  text-decoration: none;
  color: #0071a7c7;
  cursor: grab;
}

.container {
  -webkit-box-shadow: 5px 5px 5px 0 #02608b5e;
  -moz-box-shadow: 5px 5px 5px 0 #02608b5e;
  box-shadow: 5px 5px 5px 0 #02608b5e;
}

:global nav.bg-primary {
  background-color: $colorHeader !important;
}

:global .navbar-brand a {
  color: $white;
}
