@import '../../../styles/variables.scss';

.navBarLink:hover {
  text-decoration: none;
  color: #0071a7c7;
  cursor: grab;
}

:global nav.bg-primary {
  background-color: $turquoise !important;
}

:global .navbar-brand a {
  color: $white !important;
}
