.modalTitle {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.iconSuccessMessage {
  color: #008000;
  margin-right: 0.5rem;
}

.iconErrorMessage {
  color: #ff0000;
  margin-right: 0.5rem;
}
