@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.container {
  background: #f7f9fa;
  height: auto;
  width: 90%;
  margin: 2.5rem auto;

  -webkit-box-shadow: 5px 5px 5px 0 #00000066;
  -moz-box-shadow: 5px 5px 5px 0 #00000066;
  box-shadow: 5px 5px 5px 0 #00000066;
  @include respond-to('mdMin') {
    width: 55%;
  }
}

.mxAuto {
  width: 90%;
  text-align: left;
  padding: 2em 0;
  @include respond-to('mdMin') {
    width: 55%;
    margin: 0 auto;
  }
}

.formGroup {
  margin: 1.5rem 1rem;
}

.buttonSend {
  background: #1863ab;
  border: none;
  font-size: 1.2em;
  font-weight: 400;
  margin: auto;
  display: flex;
}

.buttonSend:hover {
  background: #1d3461;
}

label {
  color: $turquoise;
  font-size: 1.2em;
  font-weight: 400;
}

.errorMessage {
  color: $red;
  padding: 0.5em 0.2em;
  height: 1em;
  position: absolute;
  font-size: 0.8em;
}

// :global .ck.ck-toolbar > .ck.ck-toolbar__grouped-dropdown > .ck.ck-button.ck-dropdown__button {
//   display: none;
// }

// :global .ck-file-dialog-button > .ck-button {
//   display: none !important;
// }

// :global .ck-toolbar > .ck-toolbar__items .ck-dropdown:nth-child(3n) {
//   display: none !important;
// }

:global .ck.ck-editor__editable_inline > :last-child {
  height: 7rem;
}
