.container {
  background: #f7f9fa;
  height: auto;
  width: 90%;
  margin: 2.5rem auto;
  color: snow;
  -webkit-box-shadow: 5px 5px 5px 0 #00000066;
  -moz-box-shadow: 5px 5px 5px 0 #00000066;
  box-shadow: 5px 5px 5px 0 #00000066;
}

@media (min-width: 786px) {
  .container {
    width: 60%;
  }
}

label {
  color: #24b9b6;
  font-size: 1.2em;
  font-weight: 400;
}

h1 {
  color: #24b9b6;
  padding-top: 0.5em;
}

.formGroup {
  margin: 1.5rem 1rem;
}

.error {
  border: 2px solid #ff6565;
}

.errorMessage {
  color: #ff6565;
  padding: 0.5em 0.2em;
  height: 1em;
  position: absolute;
  font-size: 0.8em;
}

.mxAuto {
  width: 90%;
  text-align: left;
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width: 786px) {
  .mxAuto {
    width: 50%;
    margin: 0 auto;
  }
}

.buttonSend {
  background: #1863ab;
  border: none;
  font-size: 1.2em;
  font-weight: 400;
  margin: auto;
  display: flex;
}

.buttonSend:hover {
  background: #1d3461;
}

.alert {
  position: absolute;
  top: 120px;
}
